@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Alfa Slab One', cursive;
    background-color: #06283D;
    
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: white;
    font-size: 32px;
    
}
.subtitulo{
    color: #1363DF;


}
.tarjetas{
    display: flex;
    gap: 10px;

}
.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background-color: #47B5FF;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;

}
    
input {
    display: none;
}